@import 'partials';

.Logo {
  position: relative;
  color: $reverse-color;
  display: flex;
  align-items: center;
  margin: 0 auto;
  text-decoration: none;
  .LogoImage {
    display: block;
  }
  .LogoText {
    display: flex;
    flex-direction: column;
    h1 {
      line-height: auto;
    }
  }
}

.ShortLogo {
  flex-direction: row;
  justify-content: center;
  height: 50%;
  margin: calc((#{$toolbar-height}/2)/2) 0;
  .LogoImage {
    height: calc(#{$toolbar-height}/2);
    margin: 0;
  }
  .LogoText {
    display: none;
  }
}

.SmallLogo {
  flex-direction: row;
  justify-content: center;
  height: 50%;
  margin: calc((#{$toolbar-height}/2)/2) 0;
  .LogoImage {
    height: calc(#{$toolbar-height}/2);
    margin: 0;
  }
  .LogoText {
    position: relative;
    align-items: stretch;
    justify-content: flex-start;
    margin: -8px 0 0 10px;
    display: none;
    h1 {
      font-size: 1.15rem;
      line-height: 1.85rem;
    }
    h2 {
      font-size: 0.6rem;
      letter-spacing: 0.11rem;
    }
    @supports (-ms-accelerator:true){
      h1 {
        font-size: 1.1rem;
        line-height: 1.5rem;
      }
      h2 {
        font-size: 0.58rem;
        letter-spacing: 0.11rem;
      }
    }
    @supports (-ms-ime-align:auto) {
      h1 {
        font-size: 1.1rem;
        line-height: 1.5rem;
      }
      h2 {
        font-size: 0.58rem;
        letter-spacing: 0.11rem;
      }
    }

    @include tiny-screens {
      display: flex;
    }
    @include normal-screens {
      display: none;
    }
    @include wide-screens {
      display: flex;
    }
  }
}

.BigLogo {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: $big-logo-height;
  .LogoImage {
    height: 60px;
    margin: 0 0 5px 0;
  }
  .LogoText {
    padding: 0 0 $toolbar-height 0;
    justify-content: center;
    h1 {
      font-size: 1.8rem;
    }
    h2 {
      font-size: 0.9rem;
      letter-spacing: 0.2rem;
    }
  }
}

