@mixin micro-screens(){
  @media only screen and (min-width: 320px) {
    @content;
  }
}

@mixin tiny-screens(){
  @media only screen and (min-width: 400px) {
    @content;
  }
}

@mixin slight-screens(){
  @media only screen and (min-width: 500px) {
    @content;
  }
}

@mixin small-screens(){
  @media only screen and (min-width: 600px) {
    @content;
  }
}

@mixin medium-screens(){
  @media only screen and (min-width: 800px) {
    @content;
  }
}

@mixin normal-screens(){
  @media only screen and (min-width: 900px) {
    @content;
  }
}

@mixin large-screens(){
  @media only screen and (min-width: 1000px) {
    @content;
  }
}

@mixin extra-large-screens(){
  @media only screen and (min-width: 1100px) {
    @content;
  }
}

@mixin wide-screens(){
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin page-header {
  font: {
    size: 2.5rem;
    variant:  small-caps;
  }
  color: $base-color;
  text-transform: capitalize;
}

@mixin shadow($level: 5) {
  @if $level == 0 {
    filter: drop-shadow(0 0 2px #333);
  } @else if $level == 1 {
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.9);
  } @else if $level == 2 {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
  } @else if $level == 3 {
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
  } @else if $level == 4 {
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.3);
  } @else {
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1);
  }
}

@mixin header($page: 'usual'){
  @if $page == 'usual' {
    height: $toolbar-height;
    background-color: $base-color;
  } @else {
    height: calc($toolbar-height + $big-logo-height);
    background: $base-gradient;
  }
}

@mixin pageContainer {
  width: 90%;
  height: 100%;
  margin: 2rem auto;
  @include small-screens {
    width: 95%;
  }
}

@mixin pageTitle{
  font-size: 1.5rem;
  text-transform: capitalize;
  color: $base-color;
  width: 100%;
  text-align: left;
  margin: 0 0 1.5rem 0;
  @include tiny-screens {
    font-size: 1.75rem;
  }
  @include slight-screens {
    font-size: 2rem;
  }
  @include small-screens {
    font-size: 2.25rem;
  }
}