@mixin microScreens() {
  @media only screen and (min-width: 320px) {
    @content;
  }
}

@mixin tinyScreens() {
  @media only screen and (min-width: 400px) {
    @content;
  }
}

@mixin slightScreens() {
  @media only screen and (min-width: 500px) {
    @content;
  }
}

@mixin smallScreens() {
  @media only screen and (min-width: 600px) {
    @content;
  }
}

@mixin mediumScreens() {
  @media only screen and (min-width: 800px) {
    @content;
  }
}

@mixin normalScreens() {
  @media only screen and (min-width: 900px) {
    @content;
  }
}

@mixin largeScreens() {
  @media only screen and (min-width: 1000px) {
    @content;
  }
}

@mixin extraLargeScreens() {
  @media only screen and (min-width: 1100px) {
    @content;
  }
}

@mixin wideScreens() {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin pageHeader {
  font: {
    size: 2.5rem;
    variant: small-caps;
  }
  color: $baseColor;
  text-transform: capitalize;
}

@mixin shadow($level: 5) {
  @if $level == -1 {
    filter: drop-shadow(0 0 4px #000);
  } @else if $level == 0 {
    filter: drop-shadow(0 0 2px #333);
  } @else if $level == 1 {
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.9);
  } @else if $level == 2 {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
  } @else if $level == 3 {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
  } @else if $level == 4 {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
  } @else {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
  }
}
@mixin insetShadow($level: 1) {
  @if $level == 0 {
    box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  } @else {
    box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  }
}

@mixin header($page: 'usual') {
  @if $page == 'usual' {
    height: $toolbarHeight;
    background-color: $baseColor;
  } @else {
    height: $headerHeigh;
    background: $baseGradient;
  }
}

@mixin pageContainer {
  position: relative;
  width: 90%;
  height: 100%;
  margin: 2rem auto;
  @include smallScreens {
    width: 95%;
  }
}

@mixin pageTile {
  position: relative;
  color: $baseTextColor;
  background-color: $baseBackgroundColor;
  @include shadow();
}

@mixin pageTitle {
  position: relative;
  font-size: 1.2rem;
  text-transform: capitalize;
  color: $baseColor;
  width: 100%;
  text-align: left;
  margin: 0 0 1.5rem 0;
  &:focus {
    outline: 0;
  }
  @include tinyScreens {
    font-size: 1.5rem;
  }
  @include slightScreens {
    font-size: 1.75rem;
  }
  @include smallScreens {
    font-size: 2.25rem;
  }
}

@mixin cvItem {
  font-size: 0.85rem;
  @include slightScreens {
    font-size: 0.9rem;
  }
  @include mediumScreens {
    font-size: 0.95rem;
    line-height: 1.3rem;
  }
  @include normalScreens {
    font-size: 1rem;
    line-height: 1.4;
  }

  p > span:first-child:after {
    content: ' ';
  }
  p span:last-child time {
    font-style: italic;
  }
}

@mixin pageSubtitle {
  width: 100%;
  color: $baseColor;
  font-size: 1rem;
}

@mixin categoryTitle {
  font-weight: 500;
  color: $lowLightBaseText;
  margin: 1.25rem 0 0.1rem 0;
  @include slightScreens {
    font-size: 1rem;
  }
  @include mediumScreens {
    font-size: 1.25rem;
    font-weight: 300;
    color: $darkBaseText;
    margin-bottom: 0.3rem;
  }
}

@mixin mainContactFormControls {
  display: block;
  border: 1px solid $baseBackgroundColor;
  border-bottom: 1px solid $extraLightBaseText;
  width: calc(100% - 1.5rem);
  min-width: calc(100% - 40px);
  max-width: calc(100% - 40px);
  height: 2.5rem;
  padding: 0.5rem;
  font-size: 0.85rem;
  &.Invalid {
    border: 1px solid $errorColor;
    border-right: none;
    color: $errorColor;
    &.Invalid + button {
      border: 1px solid $errorColor;
      border-left: none;
    }
    &:focus,
    &:active,
    &:hover {
      border: 2px solid $errorColor;
      border-right: none;
    }
    &:hover + button {
      border: 2px solid $errorColor;
      border-left: none;
    }
    &:focus,
    &:active {
      background-color: $lightErrorColor;
    }
    &:focus + button,
    &:active + button {
      background-color: $lightErrorColor;
      border: 2px solid $errorColor;
      border-left: none;
    }
    &:focus + button:hover,
    &:active + button:hover {
      background-color: $lightErrorColor;
      border: 2px solid $errorColor;
      border-left: none;
    }
  }
  &:focus,
  &:active,
  &:hover {
    outline: 0;
    border: 1px solid $extraLightBaseText;
    border-right: none;
  }
  &:hover + button {
    border: 1px solid $extraLightBaseText;
    border-left: none;
  }
  &:focus,
  &:active {
    background-color: $bodyBackground;
  }
  &:focus + button,
  &:active + button {
    background-color: $bodyBackground;
    border: 1px solid $extraLightBaseText;
    border-left: none;
  }
  &:focus + button:hover,
  &:active + button:hover {
    background-color: $bodyBackground;
    border: 1px solid $extraLightBaseText;
    border-left: none;
  }
  @include tinyScreens {
    font-size: 0.9rem;
  }
  @include slightScreens {
    font-size: 1rem;
  }
}
