// === COLORS ===
$baseColor: #045ba8;
$darkBase: darken($baseColor, 10%);
$light-base: lighten($baseColor, 10%);
$aux-base: lighten($baseColor, 30%);
$accessoryColor: #06b100;
$reverseColor: #fff;
$baseBackgroundColor: #fff;
$bodyBackground: #f7f7f7;
$baseGradient: linear-gradient(180deg, $baseColor 12%, $light-base 88%);
$errorColor: #ff0000;
$lightErrorColor: lighten($errorColor, 45%);

$baseTextColor: #333;
$darkBaseText: darken($baseTextColor, 20%);
$lowLightBaseText: lighten($baseTextColor, 10%);
$middleLightBaseText: lighten($baseTextColor, 30%);
$extraLightBaseText: lighten($baseTextColor, 60%);

// === FONTS ===
$textFont: 'Roboto', sans-serif;
$textSize: 20px;
$textLine: 1;
$textLight: 300;
$textBold: 500;

// === SIZES ===
$toolbarHeight: 80px;
$bigLogoHeight: 250px;
