@import 'partials';

.Checkbox {
  position: relative;
  display: block;
  width: 2rem;
  height: 2rem;
  border: 1px solid $extraLightBaseText;
  margin-right: 0.5rem;
  &:hover,
  &:active,
  &:focus {
    outline: 0;
    background-color: $bodyBackground;
  }
}

.Checkbox[aria-checked='true'] {
  text-align: center;
  background-color: $light-base;
  line-height: 2rem;
  border: 1px solid $light-base;
  color: $reverseColor;
  font-size: 1.3rem;
}

.Checkbox + label {
  width: calc(100% - 2.5rem);
}

.Invalid {
  border: 1px solid $errorColor;
  &:hover,
  &:focus,
  &:active {
    background-color: $lightErrorColor;
  }
}
