@import 'partials';

.Checkbox {
  position: relative;
  display: block;
  width: 2rem;
  height: 2rem;
  border: 1px solid $extra-light-base-text;
  margin-right: 0.5rem;
  &:hover,
  &:focus,
  &:active {
    background-color: $body-background;
  }
}

.Checkbox[aria-checked=true] {
  text-align: center;
  background-color: $light-base;
  line-height: 2rem;
  border: 1px solid $light-base;
  color: $reverse-color;
  font-size: 1.3rem;
}

.Checkbox + label {
  width: calc(100% - 2.5rem);
}

.Invalid {
  border: 1px solid $error-color;
  &:hover,
  &:focus,
  &:active {
    background-color: $light-error-color;
  }
}