@import 'partials';

.Error {
  margin: 0.5rem 0 0 0;
  color: $error-color;
  font-size: 0.85rem;
  @include tiny-screens {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
  @include small-screens {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}