@import 'partials';

.SidePanel {
  height: 100%;
  max-width: 70%;
  width: 300px;
  min-width: 220px;
  position: fixed;
  z-index: 125;
  top: 0;
  left: 0;
  color: $base-text-color;
  background-color: $base-background-color;
  @include shadow(1);
}

.Open {
  animation: showSidePanel 0.3s ease-out forwards;
}

.Close {
  animation: hideSidePanel 0.3s ease-out forwards;
}

@keyframes showSidePanel {
  0% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes hideSidePanel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-110%);
  }
}

.Header {
  background: $base-color;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
