@import 'partials';

.SidePanel {
  height: 100%;
  max-width: 70%;
  width: 300px;
  min-width: 220px;
  position: fixed;
  z-index: 125;
  top: 0;
  left: 0;
  color: $base-text-color;
  background-color: $base-background-color;
  transform: translateX(-110%);
  transition: transform 0.3s ease-out;
  @include shadow(1);
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-110%);
}

.Header {
  background: $base-color;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
