@import 'partials';

.CvLink {
  width: 100%;
  height: 130px;
  transition: all 0.2s ease-out;
  @include pageTile();
  &:hover,
  &:active {
    background-color: $light-base;
    @include shadow(4);
    * {
      color: $reverseColor;
    }
  }
  @include slightScreens {
    height: 140px;
  }
  @include largeScreens {
    height: 150px;
  }
  @include wideScreens {
    height: 140px;
  }
}

.CvLink a {
  text-decoration: none;
  color: $middleLightBaseText;
  height: 100%;
  display: flex;
}

.Icon {
  display: none;
  @include tinyScreens {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    color: $extraLightBaseText;
    font-size: 3.5rem;
    line-height: 100%;
  }
  @include slightScreens {
    font-size: 4.5rem;
  }
  @include smallScreens {
    display: none;
  }
  @include mediumScreens {
    display: flex;
    font-size: 3.5rem;
  }
  @include normalScreens {
    font-size: 4.25rem;
  }
  @include largeScreens {
    font-size: 4.75rem;
  }
  @include wideScreens {
    font-size: 3.5rem;
  }
}

.Info {
  padding: 0.5rem;
}

.CvLink h3 {
  color: $baseColor;
  font-size: 1.5rem;
  margin: 0 0 0.3rem 0;
  @include tinyScreens {
    font-size: 1.3rem;
  }
  @include slightScreens {
    font-size: 1.5rem;
  }
  @include smallScreens {
    font-size: 1.3rem;
  }
  @include mediumScreens {
    font-size: 1.25rem;
  }
  @include normalScreens {
    font-size: 1.3rem;
  }
  @include largeScreens {
    font-size: 1.6rem;
  }
  @include largeScreens {
    font-size: 1.3rem;
  }
}

.CvLink ul {
  width: 100%;
  @include largeScreens {
    font-size: 1.1rem;
  }
  @include largeScreens {
    font-size: 1rem;
  }
}
