@import 'partials';

.TipWrapper {
  @include shadow(-1);
  position: absolute;
  background-color: $baseBackgroundColor;
  background-color: $baseColor;
  width: 100%;
  bottom: 3.5rem;
  max-width: 600px;
  z-index: 100;
  border-radius: 5px 5px 0px 5px;
  font-size: 0.75rem;
  @include smallScreens {
    width: 90%;
    margin: 0 5%;
  }
  @include mediumScreens {
    margin: 0 calc((100% - 600px) / 2);
  }
}

.Tip {
  position: relative;
  width: 100%;
  padding: 1.5rem;
  color: $reverseColor;
  background-color: $darkBaseText;
  border-radius: 5px 5px 0px 5px;
  &:after {
    content: '';
    width: 0;
    height: 0;
    top: 100%;
    right: 42%;
    padding: 0;
    margin: 0;
    position: absolute;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 15px solid $darkBaseText;
  }
  p:not(:first-of-type) {
    margin: 0.75rem 0 0 0;
  }
}
