@import 'partials';

.Toolbar {
  position: relative;
  width: 100%;
  height: $toolbar-height;
  display: flex;
  justify-content: space-between;
  align-items: 'center';
  z-index: 50;
}

.ToolbarNavigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: calc(100% - (#{$toolbar-height}*2));
  nav {
    display: none;
  }
  @include normal-screens {
    width: calc(100% - #{$toolbar-height});
    justify-content: flex-start;
    margin-left: 1rem;
    nav {
      display: block;
    }
  }
}