@import 'partials';

.Toolbar {
  position: relative;
  width: 100%;
  height: $toolbarHeight;
  display: flex;
  justify-content: space-between;
  align-items: 'center';
  z-index: 50;
}

.ToolbarNavigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: calc(100% - (#{$toolbarHeight} * 2));
  nav {
    display: none;
  }
  @include normalScreens {
    width: calc(100% - #{$toolbarHeight});
    justify-content: flex-start;
    margin-left: 1rem;
    nav {
      display: block;
    }
  }
}
