@import 'partials';

.Profile {
  @include pageContainer;
}

.Profile h3 {
  @include pageTitle;
}

.Profession {
  position: relative;
  background-color: $base-background-color;
  width: 100%;
  @include shadow();
  margin: 0 0 1.5rem 0;
  &:last-child {
    margin: 0;
  }
}

.Profession h4 {
  width: 100%;
  color: $base-color;
  font-size: 1rem;
  padding: 1rem 1rem 0.5rem 1rem;

  @include tiny-screens {
    font-size: 1.2rem;
  }
  @include slight-screens {
    font-size: 1.3rem;
    order: 1;
  }
  @include small-screens {
    padding: 1rem 1rem 0.75rem 1rem;
    font-size: 1.5rem;
  }
  @include medium-screens {

  }
}

.Profession p {
  width: 100%;
  color: $base-text-color;
  background-color: $base-background-color;
  font-size: 0.85rem;
  line-height: 1.1rem;
  padding: 0 1rem 1rem 1rem;

  @include tiny-screens {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
  @include slight-screens {
    font-size: 1rem;
    line-height: 1.4rem;
  }
  @include medium-screens {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
}

.Profession a {
  color: $base-color;
  font-style: italic;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}