@import 'partials';

.Profile {
  @include pageContainer;
}

.Profile h3 {
  @include pageTitle;
}

.Profession {
  position: relative;
  width: 100%;
  margin: 0 0 1.5rem 0;
  padding: 1rem;
  @include pageTile;
  &:last-child {
    margin: 0;
  }
}

.Profession h4 {
  @include pageSubtitle;
  @include tiny-screens {
    font-size: 1.2rem;
  }
  @include slight-screens {
    font-size: 1.3rem;
  }
  @include small-screens {
    font-size: 1.5rem;
  }
}

.Profession {
  p {
    width: 100%;
    color: $base-text-color;
    background-color: $base-background-color;
    font-size: 0.85rem;
    line-height: 1.1rem;
    padding: 0 0 1rem 0;
    &:last-of-type {
      padding: 0;
    }
    @include tiny-screens {
      font-size: 0.9rem;
      line-height: 1.2rem;
    }
    @include slight-screens {
      font-size: 1rem;
      line-height: 1.4rem;
    }
    @include medium-screens {
      font-size: 1.1rem;
      line-height: 1.5rem;
    }
  }
}

.Profession a {
  color: $base-color;
  font-style: italic;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}