@import 'partials';

.Profile {
  @include pageContainer;
}

.Profile h3 {
  @include pageTitle;
}

.Profession {
  position: relative;
  width: 100%;
  margin: 0 0 1.5rem 0;
  padding: 1rem;
  @include pageTile;
  &:last-child {
    margin: 0;
  }

  h4 {
    @include pageSubtitle;
    margin-bottom: 1.25rem;
    @include tinyScreens {
      font-size: 1.2rem;
    }
    @include slightScreens {
      font-size: 1.3rem;
    }
    @include smallScreens {
      font-size: 1.5rem;
    }
  }

  p {
    width: 100%;
    color: $baseTextColor;
    background-color: $baseBackgroundColor;
    font-size: 0.85rem;
    line-height: 1.1rem;
    padding: 0 0 1rem 0;
    &:last-of-type {
      padding: 0;
    }
    @include tinyScreens {
      font-size: 0.9rem;
      line-height: 1.2rem;
    }
    @include slightScreens {
      font-size: 1rem;
      line-height: 1.4rem;
    }
    @include mediumScreens {
      font-size: 1.1rem;
      line-height: 1.5rem;
    }
  }

  a {
    color: $baseColor;
    font-style: italic;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
