@import 'partials';

.School {
  @include pageTile;
  padding: 1rem;
  @include cvItem;
  h5 {
    @include categoryTitle;
  }
}

.Studies {
  @include pageSubtitle;
  font-weight: 500;
  @include slightScreens {
    font-size: 1.2rem;
  }
  @include mediumScreens {
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 300;
  }
}
