@import 'partials';

.PageTile {
  width: 100%;
  height: 130px;
  transition: all 0.2s ease-out;
  //border-bottom: 1px solid $extra-light-base-text;
  @include shadow();
  &:hover,
  &:active {
    background-color: $light-base;
    @include shadow(4);
    * {
      color: $reverse-color;
    }
  }
  @include slight-screens {
    height: 140px;
  }
  @include large-screens {
    height: 150px;
  }
  @include wide-screens {
    height: 140px;
  }
}

.PageTile a {
  text-decoration: none;
  color: $light-base-text;
  height: 100%;
  display: flex;
}

.Icon {
  display: none;
  @include tiny-screens {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    color: $extra-light-base-text;
    font-size: 3.5rem;
    line-height: 100%;
  }
  @include slight-screens {
    font-size: 4.5rem;
  }
  @include small-screens {
    display: none;
  }
  @include medium-screens {
    display: flex;
    font-size: 3.5rem;
  }
  @include normal-screens {
    font-size: 4.25rem;
  }
  @include large-screens {
    font-size: 4.75rem;
  }
  @include wide-screens {
    font-size: 3.5rem;
  }
}

.Info {
  padding: 0.5rem;
}

.PageTile h3 {
  color: $base-color;
  font-size: 1.5rem;
  margin: 0 0 0.3rem 0;
  @include tiny-screens {
    font-size: 1.3rem;
  }
  @include slight-screens {
    font-size: 1.5rem;
  }
  @include small-screens {
    font-size: 1.3rem;
  }
  @include medium-screens {
    font-size: 1.25rem;
  }
  @include normal-screens {
    font-size: 1.3rem;
  }
  @include large-screens {
    font-size: 1.6rem;
  }
  @include large-screens {
    font-size: 1.3rem;
  }

}

.PageTile ul {
  width: 100%;
  @include large-screens {
    font-size: 1.1rem;
  }
  @include large-screens {
    font-size: 1rem;
  }
}
