@import 'partials';

.Social {
  width: 100%;
  display: flex;
  justify-content: center;
  a {
    color: $reverse-color;
    display: block;
    font-size: 1rem;
    padding: 0.5rem;
    transform: scale(1);
    transition: transform 0.2s ease-in;
  &:hover {
    transform: scale(1.3);
  }
  }
}