@import 'partials';

.SidePanelNavlink {
  width: 100%;
}
.SidePanelNavlink a.active {
  color: $base-color;
  font-weight: 500;
}

.SidePanelNavlink a {
  width: 100%;
  height: 100%;
  display: flex;
  text-decoration: none;
  color: $light-base-text;
  padding: 1rem;
  transition: all 0.3s ease-out;
  &:hover {
    color: $dark-base-text;
    background-color: $text-hover-background;
    padding-left: 2.5rem;
  }
}

.SidePanelNavlink a span:first-child {
  width: 20%;
  @include micro-screens {
    width: 15%
  }
}
.SidePanelNavlink a span:last-child {
  width: 80%;
  @include tiny-screens {
    width: 85%
  }
}

.ToolBarNavLink {
  height: 100%;
}

.ToolBarNavLink a.active {
  color: $dark-base;
  font-weight: 500;
  background-color: $aux-base;
}

.ToolBarNavLink span {
  display: block;
  margin: 10px 0 0 0;
}

.ToolBarNavLink a {
 // font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 0.8rem;
  text-decoration: none;
  height: 100%;

  transition: all 0.3s ease-out;
  &:hover {
  background-color: $light-base;
  padding-bottom: 2.5rem;
  }

}