@import 'partials';

.Button {
  cursor: pointer;
  color: $reverse-color;
}

.MenuButton,
.LanguageButton {
  width: $toolbar-height;
  height: $toolbar-height;
}

.MenuButton {
  font-size: 1.5rem;
  display: block;
  transition: all 0.2s ease-out;
  &:hover {
    font-size: 2rem;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
  }
  @include normal-screens {
    display: none;
  }
}

.LanguageButton span {
  box-sizing: content-box;
  display: block;
  margin: 0 auto;
  font-size: 0.75rem;
  text-align: center;
  width: calc(#{$toolbar-height}/3);
  height: calc(#{$toolbar-height}/3);
  line-height: calc(#{$toolbar-height}/3);
  color: $reverse-color;
  border: 2px solid $reverse-color;
  border-radius: 5px;
  font-weight: $text-bold;
  transition: all 0.2s ease-out;
  transform: scale(1);

}
.LanguageButton:hover span {
  transform: scale(1.2);
    color: $base-color;
    background-color: $base-background-color;
    @include shadow(3);
}

.AlwaysDisplayed {
  display: block;
}

.StandardButton {
  background-color: $accessory-color;
  color: $reverse-color;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  @include shadow(3);
  transition: all 0.2s ease-in-out;
  &:hover {
    @include shadow(2);
    background-color: $light-base;
  }
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
    box-shadow: none;
    &:hover {
      background-color: $accessory-color;
    }
  }
}

.controlHelpButton {
  width: 40px;
  color: $extra-light-base-text;
  border-bottom: 1px solid $extra-light-base-text;
  font-size: 0.75rem;
  transition: font-size 0.3s, color 0.3s, text-shadow 0.3s;
  transition-timing-function: ease-in-out;
  &:hover,
  &:focus {
    color: $low-light-base-text;
    font-size: 0.85rem;
    text-shadow: 0px 0px 3px rgba(50, 50, 50, 0.5);
  }
}

.linkButton {
  color: $base-color;
  font-style: italic;
  display: inline;
  text-align: inherit;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.closeButton {
  color: $reverse-color;
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: $dark-base-text;
  right: -10px;
  top: -10px;

}