@import 'partials';

.Home {
  @include pageContainer;
}

.Home section:first-child {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 0 0 2rem 0;
  @include pageTile;
  @include medium-screens {
    margin: 0 0 2rem 0;
  }
}

.Home section:last-child button {
  margin: 3rem auto;
}

.Portrait {
  position: relative;
  width: 100%;
  margin: 4.5rem auto 0 auto;
  z-index: 10;
  @include small-screens {
    width: 60%;
  }
  @include medium-screens {
    margin: 4.5rem 0 0 0;
    width: calc(40% - 1rem);
  }
  @include large-screens {
    margin: 2.5rem 0 0 0;
  }
}

.Dialog {
  position: absolute;
  top: 1rem;
  left: 2rem;
  z-index: 20;
  @include shadow(0);
  @include tiny-screens {
    left: 25%;
  }
  @include small-screens {
    left: 30%;
  }
  @include medium-screens {
    left: 10%;
  }
  @include large-screens {
    top: 5%;
    left: 30%;
  }
  @include extra-large-screens {
    top: 15%;
    left: 32%;
  }
  @include wide-screens {
    top: 10%;
    left: 32%;
  }
}

.Welcome {
  position: relative;
  display: inline-block;
  border-radius: 5px 5px 5px 0;
  top: 0;
  color: $reverse-color;
  background-color: $light-base;
  font-size: 1.3rem;
  padding: 0.5rem;
  margin-bottom: 16px;
}

.Welcome::after {
  content: '';
	width: 0;
  height: 0;
  top: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  position: absolute;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
  border-top: 16px solid $light-base;
}

.Introduction {
  position: relative;
  z-index: 10;
  color: $base-text-color;
  font-size: 0.95rem;
  line-height: 1.2rem;
  padding: 1rem;
  margin: 0;
  p:first-child {
    margin-bottom: 0.5rem;
  }
  @include tiny-screens {
    font-size: 1rem;
    line-height: 1.3rem;
  }
  @include medium-screens {
    margin: 0;
    width: 60%;
  }
  @include normal-screens {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  @include large-screens {
    font-size: 1rem;
    line-height: 1.4rem;
  }
  @include wide-screens {
    font-size: 1.15rem;
    line-height: 1.5rem;
    p:first-child {
      margin-bottom: 1.5rem;
    }
  }
}