@import 'partials';

.Header {
  position: relative;
  z-index: 50;
  box-sizing: content-box;
  width: 100%;
  background-color: $baseColor;
  border-bottom: 8px solid $aux-base;
  @include shadow(2);
}

.Usual {
  @include header();
}

.Home {
  @include header('home');
}
