@import 'partials';

.Contact {
  @include pageContainer;
}

.Contact h3 {
  @include pageTitle;
}

.Form {
  @include pageTile;
  position: relative;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
}

.SocialWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  border-bottom: 1px solid $base-color;
  padding-bottom: 1rem;
}



.Form form {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 2rem auto 0 auto;

}

.Subtitle {
  @include pageSubtitle;
  @include tiny-screens {
    font-size: 1.2rem;
  }
  @include slight-screens {
    font-size: 1.3rem;
  }
  @include small-screens {
    font-size: 1.5rem;
  }
}

.ErrorMessage {
  width: 100%;
  text-align: center;
  line-height: 1.2rem;
  color: $error-color;
  margin-bottom: 1.5rem;
}