@import 'partials';

.Footer {
  width: 100%;
  min-height: $toolbar-height;
  background-color: $light-base;
  border-top: 8px solid $aux-base;
  color: $reverse-color;
  font-size: 0.85rem;
  @include shadow(2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    padding: 0 0.5rem 0.5rem 0.5rem;
  }
}