@import 'partials';

.FormControl {
  position: relative;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.Label {
  font-size: 0.85rem;
  &:first-child {
    padding-bottom: 0.25rem;
  }
  @include tiny-screens {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
  @include slight-screens {

  }
  @include small-screens {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

span + label {
  @include small-screens {
    display: inline-block;
    align-self: center;
  }
}

.Label.Required:first-child:after,
span + .Label.Required:before {
  font-size: 0.6rem;
  vertical-align: super;
}
.Label.Required:first-child:after,{
  content: ' *';
}
span + .Label.Required:before {
  content: '* ';
}

.Text,
.Email,
.Subject,
.Textarea {
  display: block;
  border: 1px solid $base-background-color;
  border-bottom: 1px solid $extra-light-base-text;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 2.5rem;
  padding: 0.5rem;
  font-size: 0.85rem;
  &:focus,
  &:active,
  &:hover {
    border: 1px solid $extra-light-base-text;
    border-right: none;
  }
  &:hover + button {
    border: 1px solid $extra-light-base-text;
    border-left: none;
  }
  &:focus,
  &:active {
    background-color: $body-background;
  }
  &:focus + button,
  &:active + button {
    background-color: $body-background;
    border: 1px solid $extra-light-base-text;
    border-left: none;
  }
  &:focus + button:hover,
  &:active + button:hover {
    background-color: $body-background;
    border: 1px solid $extra-light-base-text;
    border-left: none;
  }
  @include tiny-screens {
    font-size: 0.9rem;
  }
  @include slight-screens {
    font-size: 1rem;
  }
}

.Checkbox {
  position: relative;
  display: block;
  width: 2rem;
  height: 2rem;
  border: 1px solid $extra-light-base-text;
  margin-right: 0.5rem;
  &:hover,
  &:focus,
  &:active {
    background-color: $body-background;
  }
}

.Checkbox[aria-checked=true] {
  text-align: center;
  background-color: $light-base;
  line-height: 2rem;
  border: 1px solid $light-base;
  color: $reverse-color;
  font-size: 1.3rem;
}

.Checkbox + label {
  width: calc(100% - 2.5rem);
}

.Captcha {
  margin: 0 auto;
}

.Help {
  width: calc(100% - 1.5rem);
  min-width: calc(100% - 40px);
  max-width: calc(100% - 40px);
}
