@import 'partials';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font: inherit;
}

html {
  font-size: 20px;
}

body {
  font: normal normal $text-light $text-size/$text-line $text-font;
  background-color: $body-background;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}