// partials
@use 'partials/partials';

//globals

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font: inherit;
}

html {
  font-size: 20px;
}

body {
  font: normal normal variables.$textLight
    variables.$textSize/variables.$textLine variables.$textFont;
  background-color: variables.$bodyBackground;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
