@import 'partials';

.SkillsCategory {
  @include pageTile;
  padding: 1rem;
}

.SkillsCategory h4 {
  @include pageSubtitle;
  margin-bottom: 0.5rem;
  @include tinyScreens {
    font-size: 1.2rem;
  }
  @include slightScreens {
    font-size: 1.3rem;
  }
  @include smallScreens {
    font-size: 1.5rem;
  }
}

.SkillsCategory ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.Skill {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  @include shadow();
  font-size: 0.85rem;
  @include tinyScreens {
    font-size: 0.9rem;
  }
  @include slightScreens {
    font-size: 0.95rem;
  }
  @include smallScreens {
    font-size: 1rem;
  }
}
